* {
    box-sizing: border-box;
}

#hero {
    background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url(../img/hero-bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.logo {
    float: left;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.nav li {
    display: inline;
}

.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    color: white;
}

.nav li a:hover {
    border-bottom: 3px solid white;
    padding-bottom: 3px;
    transition: border-bottom 0.1s, color 0.1s;
}

h2 {
    font-size: 52px;
    font-weight: 700;
    color: white;
}

.cta {
    display: inline-block;
    margin-top: 90px;
    width: 100%;
    position: relative;
}

.imgs {
    position: absolute;
    right: -135px;
    float: right;
}

.iphone {
    width: 85%;
    margin-bottom: -240px;
}

.cta-info {
    width: 60%;
    padding-right: 150px;
    float: left;
}

.hero-para {
    font-size: 36px;
    line-height: 40px;
    color: white;
    margin-bottom: 55px;
}

.phone-icon {
    vertical-align: middle;
    padding-right: 20px;
}

.cta-button {
    padding: 23px 35px;
    background: #282828;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    transition: 0.3s;
}

.cta-button:hover {
    background: #383737;
    transition: 0.3s;
}


/* start coding of App feature section*/

#app-feature h2 {
    font-size: 52px;
    font-family: Montserrat-Regular;
    text-align: center;
    color: #8a8a8a;
    margin-bottom: 30px;
}

.p-feature {
    font-size: 22px;
    text-align: center;
    margin: 20px 30px;
    padding: 0 100px;
}

.col-4-app {
    width: 33.3%;
    float: left;
    text-align: center;
}

#app-feature h3 {
    margin: 20px 0px;
    text-transform: uppercase;
}

#app-feature p {
    margin: 0 20px;
    padding: 0 50px;
}

.row {
    overflow: hidden;
    margin-top: 50px;
}

#nose {
    background: url(../img/nose-bg.png);
    background-size: cover;
    background-position: center;
}

#nose h2 {
    color: white;
    font-size: 52px;
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.downlaod-info {
    margin: 200px 0;
    width: 50%;
}

.redish {
    color: #fc5f5c;
}

.nose-p {
    font-size: 22px;
    font-family: Montserrat-Regular;
    margin-bottom: 40px;
}

.download-btn {
    color: white;
    text-decoration: none;
    padding: 15px;
    background: #fc5f5c;
    border-radius: 50px;
}

.download-btn:hover {
    background: #c33934;
    transition: 0.5s;
}

footer {
    background-color: #2e2e38;
}

.col-4-footer {
    width: 33.3%;
    color: white;
    float: left;
}